@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 33% 99%;

  --text: 223 29% 9%;
  --text-disabled: 219 30% 79%;

  --border: 224 43% 80%;
  --border-hover: 224 41% 75%;
  --border-disabled: 224 46% 86%;

  --primary: 223 98% 47%;
  --primary-hover: 223 100% 26%;

  --success: 144, 82%, 28%;
  --success-hover: 144, 100%, 21%;

  --warning: 22 100% 49%;
  --warning-hover: 22 100% 47%;

  --danger: 354 85% 49%;
  --danger-hover: 354 97% 42%;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: hsl(var(--text));
  background-color: hsl(var(--background));
}
